<%= form_for(@tweet, url: choose_new_or_edit) do |f| %>
  <% if @tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= @tweet.errors.count %> error occuerd</h2>
      <ul>
      <% @tweet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <%= f.label :Content %>
  <%= f.text_field :content, class: 'form-control' %>
  <br>
  <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
<%= link_to "Back to Tweet List", tweets_path %>
<% end %>
